.Error {
  background-color: #ed1c24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0rem 0rem 0rem 0rem;
  color: white;
}

.Error-header {
  color: white;
  font-family: East Sea Dokdo;
  font-size: 96px;
}
.p4 {
  height: 3rem;
  margin-top: 0rem;
}
