.Feeder {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  
  
  .Feed-body {
    display: grid;
    justify-content: start;
    align-items: start;
    padding: 0rem 4rem 0rem 10rem;
  }
  
  .pf {
    display: flex;
    align-items: start;
    justify-content: start;
    color: white;
    font-family: East Sea Dokdo;
    font-style: italic;
    font-size: 64px;
    margin: 0rem 0rem 0rem 0rem;
  }
    
  .pff {
    display: flex;
    align-items: start;
    justify-content: start;
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-style: italic;
    padding: 0rem 0rem 20rem 0rem;
  }