
  
  .Generator-body {
    background-color: #ed1c24;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 2rem 2rem 2rem 2rem;
  }
  
  .Generator-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem 0rem 3rem;
    margin: 0rem 0rem 8rem 0rem;
  }
  
  .form-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-label {
    justify-content: start;
    display: flex;
    color: white;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 2rem 0rem 1rem 0rem;
  }
  
  .form-label2 {
    justify-content: start;
    display: flex;
    color: white;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0rem 0rem 1rem 0rem;
  }
  
  .p {
    color: white;
    font-family: East Sea Dokdo;
    font-size: 64px;
  }
  
  .p2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: East Sea Dokdo;
    font-style: italic;
    font-size: 64px;
  }