.Generator-body {
  background-color: #ed1c24;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 1.5rem 2rem 2rem 2rem;
  margin: 0rem 0rem 2rem 0rem;
  width: 35rem;
}

/* .Generator-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem 0rem 2rem;
  margin: 0rem 0rem 8rem 0rem;
} */


.form-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34rem;
  padding: 0rem 2rem 0rem 2rem;
  margin: 0rem 0rem 0rem 0rem;
}

.form-label {
  justify-content: start;
  display: flex;
  color: white;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 1.5rem 0rem 0.5rem 0rem;
}

.form-label2 {
  justify-content: start;
  display: flex;
  color: white;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 1rem 0rem 0.5rem 0rem;
}

.form-label3 {
  justify-content: start;
  display: flex;
  color: white;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 1rem 0rem 0.5rem 0rem;
}

.form-label4 {
  justify-content: start;
  display: flex;
  color: white;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 1.5rem 0rem 0.5rem 0rem;
}

.p {
  color: white;
  font-family: East Sea Dokdo;
  font-size: 64px;
}

.p2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: East Sea Dokdo;
  font-style: italic;
  font-size: 64px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: East Sea Dokdo;
  font-style: italic;
  font-size: 64px;
  padding: 0rem 0rem 0rem 0rem;
  margin: 0rem 0rem 0rem 0rem;
}

.leftcolumn {
  display: grid;
  align-items: start;
  justify-content: start;
  width: 35rem;
  float: left;
  padding: 1rem 0rem 0rem 0rem;
  margin: 1rem 0rem 0rem 0rem;
}

.rightcolumn {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 50rem;
  float: right;
  padding: 1rem 0rem 0rem 0rem;
  margin: 1rem 0rem 0rem 0rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem 1rem 2rem;
  width: 35rem;
}

.activeTabButton {
  color: black;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 16px;
  width: 10rem;
  height: 2.5rem;
  border-radius: 20px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.inactiveTabButton {
  color: white;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 16px;
  width: 10rem;
  height: 2.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tab-picker-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tchooser {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.chooser1 {
  width: 31rem;
}

