.form-label {
  justify-content: start;
  display: flex;
  color: white;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 1.5rem 0rem 0.5rem 0rem;
}

.form-label2 {
  justify-content: start;
  display: flex;
  color: white;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0rem 0rem 0.5rem 0rem;
}
