.Auth {
    background-color: #ED1C24;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2rem 0rem 0rem 0rem;
    color: white;
  }

.Auth-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  margin-bottom: 0rem;
}

.main-body {
    margin-top: 0rem;
}

.connectButton {  
    background-color: #000000 !important;  
    padding: 0.75rem 1.5rem !important;
    border-color: transparent !important; 
    border: 0px !important;
    font-family: Montserrat !important;
    font-weight: 700 !important;
  }
