.Homer {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.Home-body {
  background-color: #ed1c24;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 0rem 2rem 2rem 2rem;
}

.Home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem 0rem 3rem;
  margin: 0rem 0rem 8rem 0rem;
}

.form-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-label {
  justify-content: start;
  display: flex;
  color: white;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 1rem 0rem 0.5rem 0rem;
}

.form-label2 {
  justify-content: start;
  display: flex;
  color: white;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0rem 0rem 0.5rem 0rem;
}

.Gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.Gallery-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  font-size: 75px;
  font-family: "East Sea Dokdo";
}

.logout-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0.75rem 1.5rem !important;
  background-color: #000000 !important;
  border-color: transparent !important;
  border: 0px !important;
  font-family: Montserrat !important;
  font-weight: 700 !important;
}

.p {
  color: white;
  font-family: East Sea Dokdo;
  font-size: 64px;
}

.p2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: East Sea Dokdo;
  font-style: italic;
  font-size: 64px;
}